<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/style.css" rel="stylesheet" />
    
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
</head>
<body>
    <header>
        <div class="phone">817.316.4544</div>
        <div class="logo">
            <img src="~/Assets/logo-full.png" />
        </div>
    </header>
    <div id="content">
        @RenderBody()
    </div>
    <footer>

    </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
    }
    
</body>
</html>
